<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document

    link(rel="stylesheet", href="css/main.css")
  body
    aside.sidebar
      header.sidebar-header
        .logo
          img(src="../assets/images/logo.png", alt="Logo")

      article.sidebar-body
        .switch-wrapper
          label.switch
            input(type="checkbox", checked)
            span
          .switch-text.active
            span Ver por fecha
            span Ver por piscina

        table.table
          thead
            tr
              th.text-center Fecha
              th.text-center Ciclo
          tbody
            tr
              td.text-center 24/08/19
              td.text-center Día 1
            tr
              td.text-center 24/08/19
              td.text-center Día 1
            tr
              td.text-center 24/08/19
              td.text-center Día 1
            tr
              td.text-center 24/08/19
              td.text-center Día 1
            tr
              td.text-center 24/08/19
              td.text-center Día 1
            tr
              td.text-center 24/08/19
              td.text-center Día 1
            tr
              td.text-center 24/08/19
              td.text-center Día 1
            tr
              td.text-center 24/08/19
              td.text-center Día 1
            tr
              td.text-center 24/08/19
              td.text-center Día 1
            tr
              td.text-center 24/08/19
              td.text-center Día 1
            tr
              td.text-center 24/08/19
              td.text-center Día 1
            tr
              td.text-center 24/08/19
              td.text-center Día 1
            tr
              td.text-center 24/08/19
              td.text-center Día 1
            tr
              td.text-center 24/08/19
              td.text-center Día 1
            tr
              td.text-center 24/08/19
              td.text-center Día 1
            tr
              td.text-center 24/08/19
              td.text-center Día 1
            tr
              td.text-center 24/08/19
              td.text-center Día 1
            tr
              td.text-center 24/08/19
              td.text-center Día 1

    main.main
      header.main-header.main-header--pis
        button.dropdown-lg.dropdown-lg--pis
          | Piscina 01
          i.icon-angle-down
          .dropdown-lg-decoration
            svg(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 418 96' style='enable-background:new 0 0 418 96;' xml:space='preserve')
              path.decoration-bg(d='M0,0c27,0,57.9,26.09,76,46c10,11,35,30,61,32c27.99,2.15,68-7,88-14s53-15,96-8s85,36,97,40C400,96,0,96,0,96V0z')
      
      .main-body
        .row
          .col-lg-7.pr-0
            .card
              .dropdown-wrapper.active
                button.dropdown-md.mb-15
                  | Datos productivos
                  i.icon-angle-down
                .dropdown-menu
                  .dropdown-menu-inner
                    .dropdown-menu-body.mb-20
                      ul.dropdown-list
                        li
                          label.checkbox
                            input(type="checkbox")
                            | Seleccionar todo
                            span.checkbox-mark
                        li
                          label.checkbox
                            input(type="checkbox")
                            | Alimentación por día
                            span.checkbox-mark
                        li
                          label.checkbox
                            input(type="checkbox")
                            | Tipo de alimento
                            span.checkbox-mark
                        li
                          label.checkbox
                            input(type="checkbox")
                            | Alimentación por hectárea
                            span.checkbox-mark
                        li
                          label.checkbox
                            input(type="checkbox")
                            | Peso
                            span.checkbox-mark
                        li
                          label.checkbox
                            input(type="checkbox")
                            | Incremento acumulado
                            span.checkbox-mark
                        li
                          label.checkbox
                            input(type="checkbox")
                            | Supervivencia
                            span.checkbox-mark
                    .d-flex.align-items-center.mb-20.cursor-pointer
                      i.circle.icon-plus
                      span.c-indigo.font-size-14 Agregar nuevo dato
                    button.btn.btn-secondary.btn-md.w-100 Aceptar
              table.table
                thead
                  tr
                    th.text-center Alimentación por día
                    th.text-center Tipo de alimento
                    th.text-center Alimentación por hectárea
                    th.text-center Peso
                    th.text-center Incremento acumulado
                    th.text-center Supervivencia
                    th.text-center Biomasa por hectárea
                tbody
                  tr
                    td
                      .input.active
                        input(type="text", value="18")
                        span kg/Ha
                    td.text-right
                      button.dropdown-sm
                        | Elige una opción
                        i.icon-angle-down
                    td
                      .input.input--light.active
                        input(type="text", value="20")
                        span kg/ha
                    td
                      .input.active
                        input(type="text", value="60")
                        span g
                    td
                      .input.input--light.active
                        input(type="text", value="0.5")
                        span g/sem
                    td
                      .input.active
                        input(type="text", value="14")
                        span %
                    td
                      .input.input--light.active
                        input(type="text" value="15")
                        span lb/ha
                  tr
                    td
                      .input
                        input(type="text")
                        span kg/Ha
                    td.text-right
                      button.dropdown-sm
                        | Elige una opción
                        i.icon-angle-down
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                    td
                      .input
                        input(type="text")
                        span g
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                    td
                      .input
                        input(type="text")
                        span %
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                  tr
                    td
                      .input
                        input(type="text")
                        span kg/Ha
                    td.text-right
                      button.dropdown-sm
                        | Elige una opción
                        i.icon-angle-down
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                    td
                      .input
                        input(type="text")
                        span g
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                    td
                      .input
                        input(type="text")
                        span %
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                  tr
                    td
                      .input
                        input(type="text")
                        span kg/Ha
                    td.text-right
                      button.dropdown-sm
                        | Elige una opción
                        i.icon-angle-down
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                    td
                      .input
                        input(type="text")
                        span g
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                    td
                      .input
                        input(type="text")
                        span %
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                  tr
                    td
                      .input
                        input(type="text")
                        span kg/Ha
                    td.text-right
                      button.dropdown-sm
                        | Elige una opción
                        i.icon-angle-down
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                    td
                      .input
                        input(type="text")
                        span g
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                    td
                      .input
                        input(type="text")
                        span %
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                  tr
                    td
                      .input
                        input(type="text")
                        span kg/Ha
                    td.text-right
                      button.dropdown-sm
                        | Elige una opción
                        i.icon-angle-down
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                    td
                      .input
                        input(type="text")
                        span g
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                    td
                      .input
                        input(type="text")
                        span %
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                  tr
                    td
                      .input
                        input(type="text")
                        span kg/Ha
                    td.text-right
                      button.dropdown-sm
                        | Elige una opción
                        i.icon-angle-down
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                    td
                      .input
                        input(type="text")
                        span g
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                    td
                      .input
                        input(type="text")
                        span %
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                  tr
                    td
                      .input
                        input(type="text")
                        span kg/Ha
                    td.text-right
                      button.dropdown-sm
                        | Elige una opción
                        i.icon-angle-down
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                    td
                      .input
                        input(type="text")
                        span g
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                    td
                      .input
                        input(type="text")
                        span %
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                  tr
                    td
                      .input
                        input(type="text")
                        span kg/Ha
                    td.text-right
                      button.dropdown-sm
                        | Elige una opción
                        i.icon-angle-down
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                    td
                      .input
                        input(type="text")
                        span g
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                    td
                      .input
                        input(type="text")
                        span %
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                  tr
                    td
                      .input
                        input(type="text")
                        span kg/Ha
                    td.text-right
                      button.dropdown-sm
                        | Elige una opción
                        i.icon-angle-down
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                    td
                      .input
                        input(type="text")
                        span g
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                    td
                      .input
                        input(type="text")
                        span %
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                  tr
                    td
                      .input
                        input(type="text")
                        span kg/Ha
                    td.text-right
                      button.dropdown-sm
                        | Elige una opción
                        i.icon-angle-down
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                    td
                      .input
                        input(type="text")
                        span g
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                    td
                      .input
                        input(type="text")
                        span %
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                  tr
                    td
                      .input
                        input(type="text")
                        span kg/Ha
                    td.text-right
                      button.dropdown-sm
                        | Elige una opción
                        i.icon-angle-down
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                    td
                      .input
                        input(type="text")
                        span g
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                    td
                      .input
                        input(type="text")
                        span %
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                  tr
                    td
                      .input
                        input(type="text")
                        span kg/Ha
                    td.text-right
                      button.dropdown-sm
                        | Elige una opción
                        i.icon-angle-down
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                    td
                      .input
                        input(type="text")
                        span g
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                    td
                      .input
                        input(type="text")
                        span %
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                  tr
                    td
                      .input
                        input(type="text")
                        span kg/Ha
                    td.text-right
                      button.dropdown-sm
                        | Elige una opción
                        i.icon-angle-down
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                    td
                      .input
                        input(type="text")
                        span g
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                    td
                      .input
                        input(type="text")
                        span %
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                  tr
                    td
                      .input
                        input(type="text")
                        span kg/Ha
                    td.text-right
                      button.dropdown-sm
                        | Elige una opción
                        i.icon-angle-down
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                    td
                      .input
                        input(type="text")
                        span g
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                    td
                      .input
                        input(type="text")
                        span %
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                  tr
                    td
                      .input
                        input(type="text")
                        span kg/Ha
                    td.text-right
                      button.dropdown-sm
                        | Elige una opción
                        i.icon-angle-down
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                    td
                      .input
                        input(type="text")
                        span g
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                    td
                      .input
                        input(type="text")
                        span %
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                  tr
                    td
                      .input
                        input(type="text")
                        span kg/Ha
                    td.text-right
                      button.dropdown-sm
                        | Elige una opción
                        i.icon-angle-down
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                    td
                      .input
                        input(type="text")
                        span g
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                    td
                      .input
                        input(type="text")
                        span %
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                  tr
                    td
                      .input
                        input(type="text")
                        span kg/Ha
                    td.text-right
                      button.dropdown-sm
                        | Elige una opción
                        i.icon-angle-down
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                    td
                      .input
                        input(type="text")
                        span g
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
                    td
                      .input
                        input(type="text")
                        span %
                    td
                      .input.input--light
                        input(type="text" value="-")
                        span
          .col-lg-5
            .card
              .dropdown-wrapper.active
                button.dropdown-md.mb-15
                  | Parámetros
                  i.icon-angle-down
                .dropdown-menu
                  .dropdown-menu-inner
                    .dropdown-menu-body.mb-20
                      ul.dropdown-list
                        li
                          label.checkbox
                            input(type="checkbox")
                            | Seleccionar todo
                            span.checkbox-mark
                        li
                          label.checkbox
                            input(type="checkbox")
                            | Oxígeno am
                            span.checkbox-mark
                        li
                          label.checkbox
                            input(type="checkbox")
                            | Oxígeno pm
                            span.checkbox-mark
                        li
                          label.checkbox
                            input(type="checkbox")
                            | Temperatura am
                            span.checkbox-mark
                        li
                          label.checkbox
                            input(type="checkbox")
                            | Temperatura pm
                            span.checkbox-mark
                        li
                          label.checkbox
                            input(type="checkbox")
                            | Sanidad
                            span.checkbox-mark
                        li
                          label.checkbox
                            input(type="checkbox")
                            | Transparencia
                            span.checkbox-mark
                        li
                          label.checkbox
                            input(type="checkbox")
                            | pH
                            span.checkbox-mark
                        li
                          label.checkbox
                            input(type="checkbox")
                            | Alcalinidad
                            span.checkbox-mark
                    button.btn.btn-secondary.btn-md.w-100 Aceptar
              table.table
                thead
                  tr
                    th.text-center Oxígeno am
                    th.text-center Oxígeno pm
                    th.text-center Temperatura am
                    th.text-center Temperatura pm
                tbody
                  tr
                    td
                      .input
                        input(type="text", value="")
                        span mg/L
                    td
                      .input
                        input(type="text", value="")
                        span mg/L
                    td
                      .input
                        input(type="text", value="")
                        span ºC
                    td
                      .input
                        input(type="text", value="")
                        span ºC
                  tr
                    td
                      .input
                        input(type="text", value="")
                        span mg/L
                    td
                      .input
                        input(type="text", value="")
                        span mg/L
                    td
                      .input
                        input(type="text", value="")
                        span ºC
                    td
                      .input
                        input(type="text", value="")
                        span ºC
                  tr
                    td
                      .input
                        input(type="text", value="")
                        span mg/L
                    td
                      .input
                        input(type="text", value="")
                        span mg/L
                    td
                      .input
                        input(type="text", value="")
                        span ºC
                    td
                      .input
                        input(type="text", value="")
                        span ºC
                  tr
                    td
                      .input
                        input(type="text", value="")
                        span mg/L
                    td
                      .input
                        input(type="text", value="")
                        span mg/L
                    td
                      .input
                        input(type="text", value="")
                        span ºC
                    td
                      .input
                        input(type="text", value="")
                        span ºC
                  tr
                    td
                      .input
                        input(type="text", value="")
                        span mg/L
                    td
                      .input
                        input(type="text", value="")
                        span mg/L
                    td
                      .input
                        input(type="text", value="")
                        span ºC
                    td
                      .input
                        input(type="text", value="")
                        span ºC
                  tr
                    td
                      .input
                        input(type="text", value="")
                        span mg/L
                    td
                      .input
                        input(type="text", value="")
                        span mg/L
                    td
                      .input
                        input(type="text", value="")
                        span ºC
                    td
                      .input
                        input(type="text", value="")
                        span ºC
                  tr
                    td
                      .input
                        input(type="text", value="")
                        span mg/L
                    td
                      .input
                        input(type="text", value="")
                        span mg/L
                    td
                      .input
                        input(type="text", value="")
                        span ºC
                    td
                      .input
                        input(type="text", value="")
                        span ºC
                  tr
                    td
                      .input
                        input(type="text", value="")
                        span mg/L
                    td
                      .input
                        input(type="text", value="")
                        span mg/L
                    td
                      .input
                        input(type="text", value="")
                        span ºC
                    td
                      .input
                        input(type="text", value="")
                        span ºC
                  tr
                    td
                      .input
                        input(type="text", value="")
                        span mg/L
                    td
                      .input
                        input(type="text", value="")
                        span mg/L
                    td
                      .input
                        input(type="text", value="")
                        span ºC
                    td
                      .input
                        input(type="text", value="")
                        span ºC
                  tr
                    td
                      .input
                        input(type="text", value="")
                        span mg/L
                    td
                      .input
                        input(type="text", value="")
                        span mg/L
                    td
                      .input
                        input(type="text", value="")
                        span ºC
                    td
                      .input
                        input(type="text", value="")
                        span ºC
                  tr
                    td
                      .input
                        input(type="text", value="")
                        span mg/L
                    td
                      .input
                        input(type="text", value="")
                        span mg/L
                    td
                      .input
                        input(type="text", value="")
                        span ºC
                    td
                      .input
                        input(type="text", value="")
                        span ºC
                  tr
                    td
                      .input
                        input(type="text", value="")
                        span mg/L
                    td
                      .input
                        input(type="text", value="")
                        span mg/L
                    td
                      .input
                        input(type="text", value="")
                        span ºC
                    td
                      .input
                        input(type="text", value="")
                        span ºC
                  tr
                    td
                      .input
                        input(type="text", value="")
                        span mg/L
                    td
                      .input
                        input(type="text", value="")
                        span mg/L
                    td
                      .input
                        input(type="text", value="")
                        span ºC
                    td
                      .input
                        input(type="text", value="")
                        span ºC
                  tr
                    td
                      .input
                        input(type="text", value="")
                        span mg/L
                    td
                      .input
                        input(type="text", value="")
                        span mg/L
                    td
                      .input
                        input(type="text", value="")
                        span ºC
                    td
                      .input
                        input(type="text", value="")
                        span ºC
                  tr
                    td
                      .input
                        input(type="text", value="")
                        span mg/L
                    td
                      .input
                        input(type="text", value="")
                        span mg/L
                    td
                      .input
                        input(type="text", value="")
                        span ºC
                    td
                      .input
                        input(type="text", value="")
                        span ºC
                  tr
                    td
                      .input
                        input(type="text", value="")
                        span mg/L
                    td
                      .input
                        input(type="text", value="")
                        span mg/L
                    td
                      .input
                        input(type="text", value="")
                        span ºC
                    td
                      .input
                        input(type="text", value="")
                        span ºC
                  tr
                    td
                      .input
                        input(type="text", value="")
                        span mg/L
                    td
                      .input
                        input(type="text", value="")
                        span mg/L
                    td
                      .input
                        input(type="text", value="")
                        span ºC
                    td
                      .input
                        input(type="text", value="")
                        span ºC
                  tr
                    td
                      .input
                        input(type="text", value="")
                        span mg/L
                    td
                      .input
                        input(type="text", value="")
                        span mg/L
                    td
                      .input
                        input(type="text", value="")
                        span ºC
                    td
                      .input
                        input(type="text", value="")
                        span ºC

        button.btn.btn-primary.btn-md.main-body-cta Finalizar ciclo
      
    script(src="")