/** Some family fonts */
// sass-lint:disable-all
@each $font-family, $font-suffix, $font-weight in (Roboto, Light, 300), (Roboto, Regular, 400), (Roboto, Bold, 700) {
  @font-face {
    font-family: '#{$font-family}';
    src: url('#{$font-path}/#{$font-family}-#{$font-suffix}.eot');
    src:
      url('#{$font-path}/#{$font-family}-#{$font-suffix}.eot?#iefix') format('embedded-opentype'),
      url('#{$font-path}/#{$font-family}-#{$font-suffix}.woff2') format('woff2'),
      url('#{$font-path}/#{$font-family}-#{$font-suffix}.woff') format('woff'),
      url('#{$font-path}/#{$font-family}-#{$font-suffix}.ttf') format('truetype'),
      url('#{$font-path}/#{$font-family}-#{$font-suffix}.svg##{$font-family}-#{$font-suffix}') format('svg');
    font-weight: #{$font-weight};
    font-style: normal;
  }
}
// sass-lint:enable-all

// Icons
@font-face {
  // sass-lint:disable-all
  font-family: '#{$icons-font-family}';
  src: url('#{$font-path}/#{$icons-font-family}.eot?');
  src:
    url('#{$font-path}/#{$icons-font-family}.eot?#iefix') format('embedded-opentype'),
    url('#{$font-path}/#{$icons-font-family}.ttf?') format('truetype'),
    url('#{$font-path}/#{$icons-font-family}.woff?') format('woff'),
    url('#{$font-path}/#{$icons-font-family}.svg?##{$icons-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  // sass-lint:enable-all
}

[class^='bbie-'],
[class*=' bbie-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  // sass-lint:disable-all
  font-family: '#{$icons-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // sass-lint:enable-all
}

@each $bbie-icon in map-keys($bbie-icons) {
  .bbie-#{$bbie-icon} {
    &::before {
      content: map-get($bbie-icons, $bbie-icon);
    }
  }
}
